---
import Tailwind from "../icons/Tailwind.astro";
import C from "../icons/C.astro";
import CSS from "../icons/CSS.astro";
import Django from "../icons/Django.astro";
import HTML from "../icons/HTML.astro";
import JS from "../icons/JS.astro";
import Python from "../icons/Python.astro";
import Vue from "../icons/Vue.astro";
import Java from "../icons/Java.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkIcon from "../icons/LinkIcon.astro";
import SocialPill from "./SocialPill.astro";
import Kotlin from "../icons/Kotlin.astro";
import Metasploit from "../icons/Metasploit.astro";
import PostgreSQL from "../icons/PostgreSQL.astro";
import SQL from "../icons/SQL.astro";
import Latex from "../icons/Latex.astro";
import AstroIcon from "../icons/AstroIcon.astro";

const TAGS = {
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#00135c] text-white",
    icon: CSS,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#4f1000] text-white",
    icon: HTML,
  },
  JS: {
    name: "JavaScript",
    class: "bg-[#5c4e00] text-white",
    icon: JS,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#003d70] text-white",
    icon: Python,
  },
  DJANGO: {
    name: "Django",
    class: "bg-[#005e3b] text-white",
    icon: Django,
  },
  VUE: {
    name: "Vue.js",
    class: "bg-[#007d45] text-white",
    icon: Vue,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#3e0163] text-white",
    icon: AstroIcon,
  },
  JAVA: {
    name: "Java",
    class: "bg-[#014c63] text-white",
    icon: Java,
  },
  C: {
    name: "C",
    class: "bg-[#00336b] text-white",
    icon: C,
  },
  KOTLIN: {
    name: "Kotlin",
    class: "bg-[#4f006e] text-white",
    icon: Kotlin,
  },
  METASPLOIT: {
    name: "Metasploit",
    class: "bg-[#0B77B8] text-white",
    icon: Metasploit,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-[#0f3f66] text-white",
    icon: PostgreSQL,
  },
  SQL: {
    name: "SQL",
    class: "bg-[#0f3f66] text-white",
    icon: SQL,
  },
  LATEX: {
    name: "LaTeX",
    class: "bg-[#008080] text-white",
    icon: Latex,
  },
};

const PROJECTS = [
  {
    title: "Spotify Reviews Sentiment Analysis",
    description:
      "2024 - Sentiment analysis of Spotify Reviews. This was a personal project I did to learn about Natural Language Processing (NLP). The idea was to analyze Spotify reviews and detect if they were positive or negative. The fun part was that I tried to make it as from scratch as possible, so I didn't use any library that did the sentiment analysis for me. I did the preprocessing myself, even implemented my own stemming algorithm. Then I tried converting each word to an ID (didn't work well) and then I used a Bag of Words approach to convert the reviews to a matrix. Then I used a TensorFlow neural network to classify the reviews. The pretrained model is included in the repo.",
    image: "/images/spotify-sentiment.png",
    github: "https://github.com/LittleHaku/spotify-reviews-sentiment-analysis",
    tags: [TAGS.PYTHON],
  },
  {
    title: "Anki Wannabe",
    description:
      "2024 - Kotlin project where I try to make a flashcard app similar to Anki using Kotlin and Jetpack Compose following a Material Design. The app allows for user authentication using firebase and also syncs to the cloud. This project is just for educational purposes @ankilawyers",
    github: "https://github.com/LittleHaku/AnkiWannabe",
    link: "https://github.com/LittleHaku/AnkiWannabe/releases/tag/Latest",
    image: "/images/anki.png",
    tags: [TAGS.KOTLIN],
  },
  {
    title: "Breast Cancer Classifiers Comparison Web",
    description:
      "2024 - Website that I made to showcase the result of my Bachelor Thesis. The website shows the results of different classifiers used to predict breast cancer based on a biopsy. Then it also shows the results of the eXplainable AI used to explain the predictions of the classifiers. The website was built quickly just to showcase the results and it is only meant to be used on a desktop.",
    github: "https://github.com/LittleHaku/breast-cancer-classification-web",
    link: "https://breastcancerclassifiers.up.railway.app/",
    image: "/images/breast_web.png",
    tags: [TAGS.DJANGO, TAGS.HTML, TAGS.CSS, TAGS.JS],
  },
  {
    title: "Breast Cancer Classifiers Comparison and eXplainable AI",
    description:
      "2024 - Bachelor Thesis where I compared different classifiers to predict breast cancer based on a biopsy. Then I used eXplainable AI to explain the predictions of the classifiers. The eXplainable AI used was SHAP. The results were showcased in a website that I made. The GitHub repo contains the Jupyter Notebook used and the PDF and LaTeX of the thesis. The link is the PDF of the thesis (in English).",
    github: "https://github.com/LittleHaku/BreastCancer-ClassifierAnalysis",
    link: "../public/docs/tfg_ivan.pdf",
    image: "/images/breast_latex.png",
    tags: [TAGS.PYTHON, TAGS.LATEX],
  },
  {
    title: "This Portfolio",
    description:
      "2024 - At first I didn't want to add this as a project but honestly I am proud of it. I also learned how to use Astro and Tailwind CSS (I wish I knew it before since making things responsive is so easy here). Now I can do websites faster and better that have better performance and are responsive, not like the Breast Cancer Web that I made.",
    github: "https://github.com/LittleHaku/portfolio",
    link: "#top",
    image: "/images/portfolio.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.HTML, TAGS.CSS, TAGS.JS],
  },

  {
    title: "Kahoot Student View",
    description:
      "2023 - A website that works like Kahoot, this is the student view where you can join a game and answer questions which are consumed from the API of another project made where we did an web app for the teacher who can create questions and start the game. This project was made in collaboration with a friend.",
    github: "https://github.com/LittleHaku/vueKahoot/",
    link: "https://vuekahoot.netlify.app/",
    image: "/images/vuekahoot.png",
    tags: [TAGS.VUE, TAGS.HTML, TAGS.CSS, TAGS.JS],
  },
  {
    title: "Kahoot Teacher View",
    description:
      "2023 - A website that works like Kahoot, this is the teacher view where you can create questionnaires, questions and start the game. Then it generates a code for the students to join the game, and the previous project consumes the API of this one. This project was made in collaboration with a friend. It is not possible to use it properly now because the free DB we used has been taken down.",
    github: "https://github.com/LittleHaku/Kahoot_Teacher_View",
    link: "https://cajut.onrender.com/",
    image: "/images/kahootdjango.png",
    tags: [TAGS.DJANGO, TAGS.HTML, TAGS.CSS, TAGS.JS, TAGS.POSTGRESQL],
  },
  {
    title: "Reversi AI",
    description:
      "2023 - ReversiAI is a Reversi game with an AI opponent using minimax with alphabeta pruning. Features extensive testing and comprehensive documentation.",
    github: "https://github.com/LittleHaku/ReversiAI",
    image: "/images/reversi.png",
    tags: [TAGS.PYTHON],
  },

  {
    title: "Pentesting Project",
    description:
      "2023 - Pentesting project to attack a Metasploitable VM using Metasploit and find 5 different vulnerabilities, 3 of them detected by the IDS Snort and 2 of them not. Attack exploits on services like ProFTPD, CUPS, Drupal, and Apache are explored, alongside discussions on IDS effectiveness.",
    github: "https://github.com/LittleHaku/cybersecurity-proj2",
    image: "/images/cyber1.png",
    tags: [TAGS.METASPLOIT],
  },
  {
    title: "Web Security Project",
    description:
      "2023 - Django website with intentional security flaws and their fixes to demonstrate vulnerabilities commonly found in web applications. Flaws include SQL injection, broken access control, SSRF, security misconfiguration, and CSRF.",
    github: "https://github.com/LittleHaku/cybersecurity-proj1",
    image: "/images/cyber2.png",
    tags: [TAGS.DJANGO, TAGS.SQL],
  },
  {
    title: "Pomodoku",
    description:
      "2021 - Due to Discordbots being taken down I had no choice but to code my own so I could listen to music with my friends. The bot allows YouTube music but also Spotify playlists, which at the time most bots didn't. Take into account that if you only invite the bot but you don't execute it, the bot won't work since it is not hosted. Also dependencies may be outdated since it was made in 2021.",
    github: "https://github.com/LittleHaku/Pomodoku",
    link: "https://discord.com/oauth2/authorize?client_id=849663278765310033&permissions=552175266896&scope=bot",
    image: "/images/discordbot.png",
    tags: [TAGS.JS],
  },
];
---

<h1 class="flex gap-x-2 items-center text-4xl lg:text-6xl">
  <img class="size-8 lg:size-12" src="../images/star_2b50.webp" />
  Projects
</h1>

<div class="flex flex-col gap-y-16 mt-4">
  {
    PROJECTS.map(({ title, description, tags, image, github, link }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <img
          class="rounded shadow-2xl shadow-white/40 w-full md:w-1/2 h-full hover:scale-105 lg:hover:scale-125 transition"
          src={image}
          alt={title}
        />

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl text-red-300 mb-2">{title}</h3>
          <ul class="flex flex-wrap  gap-2 flex-row">
            {tags.map((tag) => (
              <li>
                <span
                  class={` ${tag.class} inline-flex items-center gap-x-2 me-2 rounded-full text-xs py-1 px-2 border border-gray-500`}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>

          <p class="text-pretty mt-2 text-secondary-100">{description}</p>

          <div class="flex flex-row justify-start mt-4 gap-x-4">
            {github && (
              <SocialPill href={github}>
                <GitHubIcon class="size-6" />
                GitHub
              </SocialPill>
            )}

            {link && (
              <SocialPill href={link}>
                <LinkIcon class="size-6" />
                Link
              </SocialPill>
            )}
          </div>
        </div>
      </article>
    ))
  }
</div>
